{
  "extends": [
    "next",
    "next/core-web-vitals",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["eslint-plugin-import-helpers"],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "comma-dangle": "off",
    "import-helpers/order-imports": [
      "error",
      {
        "alphabetize": {
          "ignoreCase": true,
          "order": "asc"
        },
        "groups": ["/^react/", "module", ["parent", "sibling", "index"]],
        "newlinesBetween": "always"
      }
    ],
    "import/prefer-default-export": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "react/destructuring-assignment": [
      "warn",
      "always",
      {
        "ignoreClassFields": true
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
